div {
  margin: 0px;
  padding: 0px;
}
iframe {
  /* margin-top:3px; */

}
h1 {
  color: #333300;
}
td {
  vertical-align: top;
  word-wrap: break-word;
}
td.disabled {
  color: #333300;
  opacity: 0.5;
}
textarea {
  font-family: Arial;
  width: 100%;
}
form {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f2efdc;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  text-align: left;
  vertical-align: top;
  font-size: 13px;
  width: 100%;
  font-family: arial;
}
select {
  border: 1px solid #333300;
}
checkbox {
  font-size: 13px;
  left: 25px;
  color: #333300;
  vertical-align: top;
  margin-top: -4px;
  margin-left: 0px;
  color: #ddddee;
  background-color: #f2efdc;
}
radio {
  font-size: 13px;
  left: 25px;
  vertical-align: top;
  margin-top: -4px;
  margin-left: 0px;
  color: #333300;
  background-color: #f2efdc;
}
fieldset {
  border: 1px solid #333300;
  color: #333300;
  text-align: left;
  font-size: 13px;
  padding: 1px;
  vertical-align: top;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 1px;
}
legend {
  color: #333300;
  font-size: 13px;
  font-weight: normal;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 6px;
  margin-left: 0px;
  cursor: default;
}
a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.legendnoborder {
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 0px solid;
  padding-right: 0px;
}
.valortop {
  text-align: left;
  margin: auto;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 1px;
  vertical-align: top;
  background-color: #f2efdc;
}
.hidden {
  display: none;
}
.labelTextnum {
  text-align: right;
  color: #333300;
  font-size: 13px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
  vertical-align: top;
}
.labelTextValue {
  text-align: left;
  color: #333300;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
  vertical-align: top;
}
.txGrandeActivo {
  text-align: left;
  color: #333300;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
  vertical-align: top;
}
.txGrandeBaja {
  text-align: left;
  color: #333300;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
  vertical-align: top;
}
.labelTextValor {
  text-align: left;
  color: #333300;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
  vertical-align: top;
}
.labelText {
  text-align: left;
  color: #333300;
  font-size: 13px;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
  vertical-align: top;
  font-weight: bold;
  cursor: default;
}
.labelTextArea {
  text-align: left;
  font-size: 13px;
  left: 25px;
  margin-top: 0px;
  margin-left: 0px;
  color: #333300;
  background-color: #ffffff;
  border: 1px solid #333300;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 1px;
  vertical-align: top;
}
.labelTextCentro {
  text-align: center;
  color: #333300;
  font-size: 13px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 1px;
  font-weight: bold;
  vertical-align: top;
}
.nonEdit {
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-left: 5px;
  vertical-align: middle;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 1px;
  color: #333300;
}
.nonEditRed {
  font-size: 13px;
  font-weight: bold;
  margin: auto;
  padding-left: 5px;
  vertical-align: middle;
  text-align: left;
  padding-top: 2px;
  padding-bottom: 1px;
}
.tableTitle {
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-left: 2px;
  vertical-align: middle;
  padding-top: 2px;
  text-align: center;
  color: #333300;
  background-color: #b1a559;
}
.tableTitlePrimero {
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-left: 2px;
  vertical-align: middle;
  padding-top: 2px;
  text-align: center;
  color: #333300;
  background-color: #b1a559;
}
#tablaDatos td {
  overflow: hidden;
}
.filaTablaPar {
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-right: 4px;
  padding-left: 3px;
  vertical-align: middle;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #333333;
  width: 30px;
  background-color: #f4f2e4;
}
.filaTablaImpar {
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-right: 4px;
  padding-left: 3px;
  vertical-align: middle;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #333333;
  width: 30px;
  background-color: #f3efd4;
}
.box {
  font-size: 13px;
  left: 25px;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 0px;
  color: #333300;
  background-color: #ffffff;
  border: 1px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxNumber {
  font-size: 13px;
  text-align: right;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 0px;
  color: #333300;
  background-color: #ffffff;
  border: 1px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxMayuscula {
  font-size: 13px;
  left: 25px;
  text-transform: uppercase;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 0px;
  color: #333300;
  background-color: #ffffff;
  border: 1px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxDisabled {
  font-size: 13px;
  left: 25px;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 0px;
  color: #333300;
  background-color: #f2efdc;
  border: 1px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.linea {
  border-left: 1px solid #333300;
}
.boxLabel {
  font-size: 13px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 0px;
  text-align: left;
  color: #333300;
  background-color: #f2efdc;
  border: 0px solid #333300;
  padding-top: 1px;
  padding-bottom: 1px;
  vertical-align: middle;
}
.boxLabelReadOnly {
  font-size: 13px;
  font-weight: normal;
  margin-top: 0px;
  margin-left: 0px;
  text-align: left;
  color: #333300;
  background-color: #f2efdc;
  border: 0px solid #333300;
  padding-top: 1px;
  padding-bottom: 1px;
  vertical-align: middle;
}
.boxConsulta {
  font-size: 13px;
  font-weight: normal;
  margin-top: 0px;
  margin-left: 0px;
  vertical-align: top;
  text-align: left;
  color: #333300;
  background-color: #f2efdc;
  border: 0px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxComboConsulta {
  font-size: 13px;
  font-weight: normal;
  margin-top: 0px;
  margin-left: 0px;
  vertical-align: top;
  text-align: left;
  color: #333300;
  background-color: transparent;
  border: 0px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxComboEnTabla {
  font-size: 13px;
  font-weight: normal;
  margin-top: 0px;
  margin-left: 0px;
  vertical-align: top;
  text-align: left;
  background-color: transparent;
  border: 0px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxConsultaNumber {
  font-size: 13px;
  font-weight: normal;
  margin-top: 0px;
  margin-left: 0px;
  vertical-align: top;
  text-align: right;
  color: #333300;
  background-color: #f2efdc;
  border: 0px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxConsultaLabelText {
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-left: 5px;
  vertical-align: top;
  text-align: left;
  background-color: #f2efdc;
  background-color: #4477aa;
  margin-top: -4px;
  border: 0px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxCabecera {
  color: #333333;
  font-size: 13px;
  left: 25px;
  width: 70%;
  background-color: #ffffff;
  color: #333300;
  border: 1px solid #333300;
  vertical-align: top;
}
.boxDisabledNumber {
  font-size: 13px;
  left: 25px;
  background-color: #f2efdc;
  text-align: right;
  vertical-align: top;
  margin-top: -3px;
  margin-left: 0px;
  border: 1px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxLogin {
  font-size: 13px;
  left: 25px;
  margin-top: -2px;
  margin-left: 0px;
  border: 1px solid #333300;
  color: #333300;
  background-color: #ffffff;
  padding-top: 2px;
  padding-bottom: 1px;
}
.boxCombo {
  font-size: 13px;
  left: 25px;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 0px;
  color: #333300;
  background-color: #ffffff;
  border: 1px solid #333300;
  padding-top: 2px;
  padding-bottom: 1px;
}
.button {
  color: #333300;
  background-color: #ffffff;
  border: 2px solid #333300;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
  clear: right;
  margin: 0px;
  padding-left: 14px;
  padding-right: 14px;
  padding-left: 0px\9;
  padding-right: 0px\9;
  height: 22px;
}
.buttonEnTabla {
  font-size: 13px;
  color: white;
  background-color: #444444;
  border: 2px solid  white;
  font-weight: bold;
  cursor: pointer;
  clear: right;
  margin: 0px;
  padding: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  vertical-align: top;
  height: 22px;
}
.titlebar {
  background-color: #333300;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
  color: #dbd39d;
}
.titulos {
  font-weight: normal;
  text-align: right;
  font-size: 17px;
  text-decoration: none;
  background-color: #b1a559;
  color: #333300;
  padding-top: 2px;
  padding-right: 50px;
  padding-bottom: 2px;
  padding-left: 5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-top-style: none;
  border-bottom-style: none;
  height: 25px;
  cursor: default;
}
.titulosPeq {
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  background-color: #b1a559;
  color: #333300;
  height: 25px;
  width: 100%;
  padding: 2px;
  text-align: center;
  font: bold;
  vertical-align: middle;
}
.titulosLeft {
  font-weight: normal;
  text-align: left;
  font-size: 17px;
  text-decoration: none;
  background-color: #b1a559;
  color: #333300;
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-top-style: none;
  border-bottom-style: none;
}
.titulitosDatos {
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  background-color: #b1a559;
  color: #333300;
  height: 22px;
  width: 100%;
  padding: 2px;
  text-align: center;
  font: bold;
  vertical-align: middle;
}
.titulitosDatosImp {
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  padding: 2px;
  background-color: #b1a559;
  border: 1px solid #333300;
  color: #333300;
  height: 30px;
  width: 100%;
  font: bold;
  vertical-align: middle;
}
.titulitos {
  font-weight: bold;
  color: #333300;
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  margin: 0px;
  height: 26px;
  padding: 2px;
  /* width: 100%; */

  font: bold;
  vertical-align: middle;
}
A.titulitos:link {
  cursor: pointer;
  color: #333300;
  font-style: normal;
  text-decoration: none;
}
A.titulitos:active {
  color: #333300;
  text-decoration: none;
}
A.titulitos:hover {
  color: #333300;
  text-decoration: none;
}
A.section:link {
  color: #333300;
  text-decoration: none;
  height: 29px;
  width: 162px;
  text-align: center;
  vertical-align: text-bottom;
}
A.section:visited {
  color: #333300;
  text-decoration: none;
  height: 29px;
  width: 162px;
  text-align: center;
  vertical-align: text-bottom;
}
A.section:hover {
  color: #333300;
  text-decoration: none;
  height: 29px;
  width: 162px;
  text-align: center;
  vertical-align: text-bottom;
}
A.section:active {
  color: #333300;
  text-decoration: none;
  height: 29px;
  width: 162px;
  text-align: center;
  vertical-align: text-bottom;
}
A.lb:link {
  color: #333300;
  text-decoration: none;
  height: 15px;
  width: 90px;
  text-align: center;
  vertical-align: text-bottom;
}
A.lb:visited {
  color: #333300;
  text-decoration: none;
  height: 15px;
  width: 90px;
  text-align: center;
  vertical-align: text-bottom;
}
A.lb:hover {
  color: #333300;
  text-decoration: none;
  height: 15px;
  width: 90px;
  text-align: center;
  vertical-align: text-bottom;
}
A.lb:active {
  color: #333300;
  text-decoration: none;
  height: 15px;
  width: 90px;
  text-align: center;
  vertical-align: text-bottom;
}
.rayita {
  /*background-image:url(<%=app%>/html/imagenes/bgppals.gif);*/
  height: 1px;
}
/* coolmenus 4 - default styles - do not edit */
.clCMAbs {
  position: absolute;
  visibility: hidden;
  left: 0;
  top: 0;
}
/* coolmenus 4 - default styles - end */
/*style for the background-bar*/
.clBar {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: transparent;
  layer-background-color: transparent;
  visibility: hidden;
}
/*styles for level 0*/
.clLevel0,
.clLevel0over,
.clLevel0NoLinkOver {
  position: absolute;
  padding: 1px;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-style: solid;
}
.clLevel0 {
  background-color: #5f5721;
  layer-background-color: #5f5721;
  color: #dbdbdb;
}
.clLevel0over {
  background-color: #8c8235;
  layer-background-color: #8c8235;
  color: #dbdbdb;
  cursor: pointer;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-style: solid;
}
.clLevel0NoLinkOver {
  background-color: #8c8235;
  layer-background-color: #8c8235;
  color: #dbdbdb;
  cursor: default;
}
.clLevel0border {
  position: absolute;
  visibility: hidden;
  background-color: transparent;
  layer-background-color: transparent;
}
/*styles for level 1*/
.clLevel1,
.clLevel1over,
.clLevel1NoLinkOver {
  position: absolute;
  padding: 2px;
  font-size: 13px;
  font-weight: normal;
}
.clLevel1 {
  background-color: #5f5721;
  layer-background-color: #5f5721;
  color: #dbdbdb;
  border: 1px solid #ffffff;
}
.clLevel1over {
  background-color: #8c8235;
  layer-background-color: #8c8235;
  color: #dbdbdb;
  cursor: pointer;
  border: 1px solid #000000;
}
.clLevel1NoLinkOver {
  background-color: #8c8235;
  layer-background-color: #8c8235;
  color: #dbdbdb;
}
.clLevel1border {
  position: absolute;
  visibility: hidden;
  layer-background-color: #006699;
}
/*styles for level 2*/
.clLevel2,
.clLevel2over {
  position: absolute;
  padding: 2px;
  font-size: 13px;
  font-weight: normal;
}
.clLevel2 {
  background-color: #5f5721;
  layer-background-color: #5f5721;
  color: #dbdbdb;
  border: 1px solid #ffffff;
}
.clLevel2over {
  background-color: #8c8235;
  layer-background-color: #8c8235;
  color: #dbdbdb;
  cursor: pointer;
  border: 1px solid #000000;
}
.clLevel2border {
  position: absolute;
  visibility: hidden;
}
A.imageLink:link {
  color: #333300;
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
  text-decoration: none;
}
A.imageLink:visited {
  color: #333300;
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
  text-decoration: none;
}
A.imageLink:hover {
  color: #333300;
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
  text-decoration: none;
}
A.imageLink:active {
  color: #333300;
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
  text-decoration: none;
}
.nonEditSelected {
  font-size: 13px;
  font-weight: bold;
  color: #333333;
  margin: auto;
  padding-left: 5px;
  vertical-align: middle;
  text-align: left;
  padding-top: 3px;
  background-color: #d6ca80;
  padding-bottom: 3px;
}
.tablaCentralMedia {
  background-color: #dbd39d;
  width: 100%;
}
.tablaCentralPeque {
  background-color: #dbd39d;
  width: 100%;
}
.tablaCentralGrande {
  background-color: #dbd39d;
  width: 100%;
}
.tablaCentralCampos {
  background-color: #f2efdc;
  width: 100%;
}
.tablaCentralCamposImp {
  background-color: #f2efdc;
  width: 670px;
}
.tablaCentralCamposMedia {
  background-color: #f2efdc;
  width: 100%;
}
.tablaCentralCamposGrande {
  background-color: #f2efdc;
  width: 100%;
}
.tablaCentralCamposPeque {
  background-color: #f2efdc;
  width: 100%;
}
.tablaCampos {
  background-color: #f2efdc;
  width: 100%;
}
.tablaTitulo {
  width: 100%;
  background-color: #b1a559;
  margin: 0px;
  padding: 0px;
  border: 1px solid #333300;
}
.tdBotones {
  text-align: right;
  color: #333300;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0px;
  width: 10px;
  font: bold;
  vertical-align: middle;
}
.tdMensaje {
  text-align: center;
  color: #333300;
  font-size: 13px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.tableCabecera {
  color: #333300;
  padding-left: 0px;
  vertical-align: left;
  padding-top: 0px;
  text-align: left;
}
.posicionPestanas {
  position: relative;
  width: 100%;
  height: 32px;
  z-index: 2;
  top: 0px;
  left: 0px;
}
.frameGeneral {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 2;
  top: -3px;
  left: 0px;
}
.framePestanas {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 2;
  top: -3px;
  left: 0px;
  margin-top: 0px;
}
.botonesDetalleSinPosicionFija {
  background-color: #dbd39d;
  width: 100%;
  height: 26px;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  border: 0px solid #333300;
  margin: 0px;
  padding: 0px;
}
.botonesDetalle {
  background-color: #dbd39d;
  position: absolute;
  width: 100%;
  height: 26px;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  border: 0px solid #333300;
  margin: 0px;
  padding: 0px;
}
.botonesSeguido {
  background-color: #dbd39d;
  position: relative;
  width: 100%;
  height: 26px;
  z-index: 2;
  border: 0px solid #333300;
  margin: 0px;
  padding: 0px;
}
.posicionPrincipal {
  position: absolute;
  width: 1000px;
  height: 600px;
  top: 102px;
  z-index: 3;
  border: 0px solid #b1a559;
  margin: 0px;
  margin-top: 3px;
}
.posicionTitulo {
  position: absolute;
  left: 0px;
  width: 1000px;
  top: 80px;
}
.posicionBusquedaSolo {
  background-color: #f2efdc;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.posicionBusquedaSoloImp {
  background-color: #f2efdc;
  left: 0px;
  width: 670px;
  top: 0px;
}
.posicionFramePrincipal {
  position: absolute;
  width: 100%;
  height: 87%;
  z-index: 3;
  top: 80px;
  left: 0px;
}
.pest {
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  height: 18px;
  padding: 4px 0px;
}
.pestanaTD {
  white-space: nowrap;
}
.pestanaTD a {
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 7px 4px 2px;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #f2efdc;
  background: url(pestana.gif) no-repeat right;
}
.pestanaTD a:hover {
  background: url(pestahover.gif) no-repeat right;
}
.pestanaTD a.here {
  background: url(pestahover.gif) no-repeat right;
}
.listaNonEdit {
  font-size: 13px;
  font-weight: normal;
  margin: auto;
  padding-right: 4px;
  padding-left: 3px;
  vertical-align: middle;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #eeeeee;
  color: #333333;
}
.posicionPest {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 10px;
  z-index: 5;
}
.listaNonEditSelected {
  font-size: 13px;
  font-weight: normal;
  color: #333333;
  margin: auto;
  padding-right: 4px;
  padding-left: 3px;
  vertical-align: middle;
  text-align: left;
  padding-top: 0px;
  background-color: #d6ca80;
  padding-bottom: 0px;
}
.tablaLineaPestanas {
  background-color: #333333;
  width: 100%;
  height: 5px;
  z-index: 100;
}
.tablaLineaPestanasArriba {
  width: 100%;
  height: 5px;
  z-index: 100;
}
.posicionModalGrande {
  background-color: #f2efdc;
  width: 100%;
}
.posicionModalMedia {
  background-color: #f2efdc;
  width: 100%;
}
.posicionModalPeque {
  background-color: #f2efdc;
  width: 100%;
}
.detallePestanas {
  background-color: #f2efdc;
}
.paginator {
  font-size: 13px;
  color: #333300;
  background-color: #dbd39d;
  text-decoration: none;
  margin: 0px;
  padding: 1px;
}
.tPaginator {
  font-size: 13px;
  color: #333300;
  background-color: #dbd39d;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  height: 20px;
  width: 100%;
}
.boxConsultaPaginador {
  font-size: 13px;
  font-family: Arial;
  font-weight: bold;
  text-align: left;
  color: #333300;
  background-color: #dbd39d;
  border: 0px;
}
a.paginator:link {
  cursor: pointer;
  color: #333300;
  font-style: normal;
  text-decoration: none;
}
a.paginator:visited {
  color: #333300;
  text-decoration: none;
}
a.paginator:hover {
  color: #333300;
  text-decoration: none;
}
a.paginator:active {
  color: #333300;
  text-decoration: none;
}
.tooltipo {
  background-color: #dbd39d;
  border: solid 1px #999999;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 4px;
}
.tooltipoletra {
  font-size: 12px;
  color: #333300;
}
#iconoboton {
  margin-bottom: -3px;
}
div#panel {
  position: relative;
  width: 500px;
  height: 500px;
  left: 5px;
}
ul#tabs {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 400px;
  height: 24px;
  z-index: 20;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
ul#tabs li {
  float: left;
  width: 80px;
  height: 23px;
  padding-left: 8px;
  list-style: none;
  margin-right: 1px;
  background-color: #b1a559;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
}
ul#tabs li.actual {
  height: 24px;
  width: 80px;
  background-color: #b1a559;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-left-width: 2px;
  border-left-color: #f2efdc;
}
ul#tabs li a {
  display: block;
  /* hack para ie6 */

  display: inline-block;
  /* fin del hack */

  height: 23px;
  line-height: 23px;
  padding-right: 8px;
  outline: 0px none;
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
  background: url(tabs.png) right 0px;
}
ul#tabs li.actual a {
  height: 24px;
  line-height: 24px;
  background: url(tabs.png) right -24px;
  cursor: default;
  color: #ffffff;
}
div#panel #paneles {
  background: #f2efdc;
  position: absolute;
  left: 1px;
  top: 23px;
  width: 950px;
  height: 350px;
  border: 1px solid #91a7b4;
  overflow: hidden;
  z-index: 10px;
}
div#panel #paneles div {
  margin: 10px;
  width: 935px;
  height: 345px;
  font-size: 13px;
  text-decoration: none;
  color: #000;
  overflow: auto;
  border: 0px solid #333300;
}
.sigaPopupTable {
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border: 1px;
}
.sigaPopupImageContainer {
  text-align: center;
  width: 30%;
}
.sigaPopupImage {
  width: 50px;
  height: 50px;
}
.sigaPopupTextContainer {
  text-align: left;
  vertical-align: middle;
}
.sigaPopupInputContainer {
  text-align: center;
}
#barraNavegacion {
  width: 95%;
}
#popup_container {
  font-size: 12px;
  min-width: 300px;
  /* dialog will be no smaller than this */

  max-width: 600px;
  /* dialog will wrap after this width */

  background: #fff;
  border: solid 5px #999;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#popup_title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.75em;
  color: #666;
  background: #cccccc url(images/title.gif) top repeat-x;
  border: solid 1px #fff;
  border-bottom: solid 1px #999;
  cursor: default;
  padding: 0em;
  margin: 0em;
}
#popup_content {
  background: 16px 16px no-repeat url(images/info.gif);
  padding: 1em 1.75em;
  margin: 0em;
}
#popup_content.alert {
  background-image: url(images/info.gif);
}
#popup_content.confirm {
  background-image: url(images/important.gif);
}
#popup_content.prompt {
  background-image: url(images/help.gif);
}
#popup_message {
  padding-left: 48px;
}
#popup_panel {
  text-align: center;
  margin: 1em 0em 0em 1em;
}
#popup_prompt {
  margin: .5em 0em;
}
.notice-wrap {
  top: 2px;
  width: 90%;
  float: left;
  clear: both;
  z-index: 9999;
  position: relative;
  left: 50%;
}
* html .notice-wrap {
  position: absolute;
}
.notice-item {
  background: #f9edbe url(../images/warning.png) no-repeat 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #000;
  padding: 10px 10px 10px 50px;
  font-size: 13px;
  font-weight: bold;
  border: 2px solid #999;
  display: block;
  position: relative;
  margin: 2px 2px 12px 2px;
  left: -50%;
}
.notice-item-close {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  right: 6px;
  top: 6px;
  cursor: pointer;
}
.error {
  background: #f57676 url(../images/error.png) no-repeat 2px;
}
.success {
  background: #84f576 url(../images/success.png) no-repeat 2px;
}
#ui-datepicker-div {
  display: none;
  z-index: 99;
}
.ui-datepicker-trigger {
  cursor: pointer;
}
tr.notFound {
  background-color: transparent;
  text-align: center;
}
tr.notfound {
  background-color: transparent;
  text-align: center;
}
table.fixedHeaderTable thead th {
  display: table-cell;
  border-bottom: 2px groove;
}
table.fixedHeaderTable tbody td {
  display: table-cell;
  border: 2px groove;
}
.ui-dropdownchecklist-text {
  font-size: 11px;
  font-weight: normal;
  margin-top: 0px;
  margin-left: 0px;
  vertical-align: middle;
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px solid #333300;
}
